---
type Props = {
  class?: string
  children: any
}

const { class: className, ...rest } = Astro.props
---

<div class:list={["content", className]} {...rest}>
  <slot />
</div>

<style>
  .content {
    flex: 1;
    margin-block: 0 16px;
  }
</style>
