---
type Props = {
  class?: string
  children: any
}

const { class: className, ...rest } = Astro.props
---

<p class:list={[className]} {...rest}>
  <slot />
</p>

<style>
  p {
    color: var(--gray-500);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    margin-block: 0 16px;
  }
</style>
