---
import Hero from "@/components/hero.astro"
import RootLayout from "../layouts/root-layout.astro"
import Header from "@/components/header.astro"
---

<RootLayout title="Turbo Frio">
  <Header />

  <main>
    <Hero />
  </main>
</RootLayout>
