---
import { formatMessageForWhatsApp } from "@/utils/format-message-for-whatsapp"
---

<div id="contact">
  <div class="container">
    <section>
      <h2>Localização</h2>

      <address>
        R. Dr. Luís de Mascarenhas<br /> Farol, Maceió - AL, 57055-030
      </address>
      <a href={formatMessageForWhatsApp("+55 (82) 99812-8254", "Ola, equipe!")}
        >(82) 99812-8254</a
      >

      <iframe
        class="map"
        title="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.362929314602!2d-35.74004772413497!3d-9.649997801918888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701459696191d4f%3A0x9f5d48037211b8!2sTurbofrio%20Climatiza%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1750418866284!5m2!1spt-BR!2sbr"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </div>
</div>

<style>
  div:has(> .container) {
    background: linear-gradient(var(--sky-600), var(--sky-700));
    padding: 48px 16px;
  }

  section {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 16px;
    margin-inline: auto;
    max-width: 1040px;
    padding: 28px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  address {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    text-align: center;

    margin-top: 5px;
  }

  a {
    display: block;
    margin-top: 5px;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.42;
    text-align: center;
  }

  .map {
    border-radius: 12px;
    margin-top: 16px;
    max-height: 411px;
    max-width: 459px;
    width: 100%;
  }

  @media (min-width: 1024px) {
    div:has(> .container) {
      padding-block: 160px;
    }

    .map {
      max-width: 100%;
    }
  }
</style>
