---
import WhatsappIcon from "@icons/whatsapp-logo.svg"
import Button from "./button.astro"
import NavLinks from "./nav-links.astro"
---

<dialog id="mobile-nav" popover>
  <NavLinks />

  <Button size="md" variant="secondary">
    <WhatsappIcon aria-hidden />
    Contato via whatsapp
  </Button>
</dialog>

<style>
  dialog:popover-open {
    background-color: white;
    border: solid 1px var(--gray-200);
    border-radius: 12px;
    box-shadow:
      0 4px 6px color-mix(in lab, black 10%, transparent),
      0 10px 15px color-mix(in lab, black 10%, transparent);
    margin: 72px 16px 0 auto;
    min-width: 356px;
    padding: 16px 20px;
  }

  button {
    margin-top: 8px;
    width: 100%;
  }

  @media (min-width: 640px) {
    dialog:popover-open {
      margin-right: calc((100vw - 640px) / 2 + 16px);
    }
  }

  @media (min-width: 768px) {
    dialog:popover-open {
      margin-right: calc((100vw - 768px) / 2 + 16px);
    }
  }

  @media (min-width: 1024px) {
    dialog {
      display: none;
    }
  }
</style>
